-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :grade
  = javascript_include_tag "https://www.google.com/jsapi" 
  = javascript_include_tag "https://www.google.com/uds/?file=visualization&amp;v=1.0&amp;packages=corechart,table"
  = javascript_include_tag "https://www.google.com/uds/api/visualization/1.0/3e90177897a662843613f410c963722a/format+en,default+en,ui+en,table+en,corechart+en.I.js"
  = stylesheet_link_tag "https://www.google.com/uds/api/visualization/1.0/3e90177897a662843613f410c963722a/ui+en,table+en.css"
  

  
- content_for :page_title do
  = "Grade Details"

:css
  footer{ display:none;}

#left_pane
  #left_pane_header
    %h3
      = "Grade Details"     

  #conversation_inbox
    .stream.conversations  
      = render :partial => 'grades/course', :collection => @courses

.span-15.prepend-9.last
  .stream_container
    #conversation_show      
      #no_conversation_text
        = "Nothing to show"          
       