-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :grade
  = javascript_include_tag "https://www.google.com/jsapi" 
  = javascript_include_tag "https://www.google.com/uds/?file=visualization&amp;v=1.0&amp;packages=corechart,table"
  = javascript_include_tag "https://www.google.com/uds/api/visualization/1.0/3e90177897a662843613f410c963722a/format+en,default+en,ui+en,table+en,corechart+en.I.js"
  = stylesheet_link_tag "https://www.google.com/uds/api/visualization/1.0/3e90177897a662843613f410c963722a/ui+en,table+en.css"
  
  :javascript
    function createUploader(){
     var uploader = new qq.FileUploaderBasic({
         element: document.getElementById('file-upload'),
         params: {'assignment_assessment': {'a_id' : #{params[:id]}}},
         allowedExtensions: ['csv'],
         action: "/grades",
         button: document.getElementById('file-upload'),
         sizeLimit: 4194304,

         onProgress: function(id, fileName, loaded, total){
          var progress = Math.round(loaded / total * 100 );
           $('#fileInfo').text(fileName + ' ' + progress + '%');
         },

         messages: {
             typeError: "File of wrong extension",
             sizeError: "Filesize too large. Supported size is till 4 MB",
             emptyError: "Empty file loaded."
         },

         onSubmit: function(id, fileName){
          $('#file-upload').addClass("loading");
          $("#file-upload-spinner").removeClass("hidden");
         },

         onComplete: function(id, fileName, responseJSON){
          $("#file-upload-spinner").addClass("hidden");
          $('#fileInfo').text(fileName + ' completed').fadeOut(2000);
          $('#file-upload').removeClass("loading");
          if ( responseJSON.success = 'success')
          {
              $('#fileInfo').empty().append('<input type="hidden" value="' + filename + '">');
          }
          else
          {
            $('#fileInfo').text(responseJSON.message);
          }
          

          
         }
     });
    }
    
  
- content_for :page_title do
  = "Grade Details"

:css
  footer{ display:none;}

#left_pane
  #left_pane_header
    %h3
      = "Grade Details"     

  #conversation_inbox
    .stream.conversations  
      = render :partial => 'grades/course', :collection => @courses

.span-15.prepend-9.last
  .stream_container
    %span{:style => "display:block;text-align:right;margin-bottom:20px;"}  
      = link_to "Upload Grades", '/grades/new', :rel => 'facebox', :class => 'creation button', :id => 'grade-button', :style => 'display:none;'
    #conversation_show      
      #no_conversation_text
        = "Nothing to show"          
       