
    

.span-15.append-1.last
  
  
  
  #create_assignment

    %form{:action => '/grades', :class =>'new_conversation form_do_not_clear', :'data-remote' => true, :method => 'post' }
      #file-upload.button.creation
        = "Upload Grade File"
      %div{:style => 'margin:5px;color:#888888;font-size:12px;'}
        = ".csv file only. Each line contains student_id,marks. File cannot be more than 4 MB size."
      %br
      %br
      %p
      = hidden_field_tag 'grades[points]'

      = image_tag('mobile-spinner.gif', :class => 'hidden', :style => "z-index:-1", :id => 'file-upload-spinner')
      %p
        #table_div
          %br
          %br
          %br
          %br
      %br
      %br
      %h5.fieldWithErrors{:style => 'margin-bottom:0px;'}
        = "Title"    
      = text_field_tag 'grades[name]', nil, :placeholder => 'Course/ Assignment / Grade name..', :size => '70'
      %h5.fieldWithErrors Points  
      = text_field_tag 'grades[comments_count]', '10', :style => "width:7%;display:inline-block;margin-left:5px;"            
      %br
      %p
        = submit_tag "Submit Grade", 'data-disable-with' => "In Progress..", :class => 'button creation'





  
  
 

  


