#create_question
  = form_for Question.new, html: {class: "new_conversation form_do_not_clear"}, remote: true do |question|
    %span Type:
    = select_tag "question[qtype]", "<option selected='selected' value='multiple_choice'>Multiple Choice</option><option value='fill_in_the_blanks'>Fill in the Blanks</option><option value='true_false'>True/False</option>".html_safe 
    %span{:style => 'margin-left:20px;'} Mark:
    = text_field_tag 'question[mark]', '1', :style => 'width:3%;display:inline;' 
    %span Points
      
    %div{:style => 'background-color:#eee;margin-right:10px;padding:5px;'}
      %span#question_title Question
      %div{:style => 'margin-bottom:10px;'}
        = text_area_tag 'question[description]', nil, :rows => 2, :placeholder => 'Type a question..', :style => 'width:95%;margin-bottom:0px;'
        %div#question_hint{:style => 'display:none;margin-top:0px;font-size:11px;'} Use _____ (underscore) to show the blank field.
        
        
      %div#option_title{:style => 'margin-top:10px;'} Possible Answers
      %span#question_options
        = text_field_tag 'question[answer1]', nil, :placeholder => 'First Answer..', :style => 'width:50%;'
        = text_field_tag 'question[answer2]', nil, :placeholder => 'Second Answer..', :style => 'width:50%;'
        = text_field_tag 'question[answer3]', nil, :placeholder => 'Third Answer..', :style => 'width:50%;'
        = text_field_tag 'question[answer4]', nil, :placeholder => 'Fourth Answer..', :style => 'width:50%;'

      
      %span#answer_title{:style => 'margin-top:10px;margin-right:10px;'} Correct Answer
      %span#question_correct_answer
        = select_tag "question[answer]", "<option selected='selected' value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option>".html_safe 
        
      %div
        = button_tag "Cancel", :type => 'button', :id => 'question_form_cancel', :class => 'button'        
        = question.submit "Add to Quiz", 'data-disable-with' => "In Progress..", :class => 'button creation'
        
