:javascript

  $('#question_type').change(function() {
      
      if($('#question_type').val() == "multiple_choice") {
        $('#question_title').empty().text("Step 2: What is the question.");
        $('#question_options').append('<input id="answer1" type="text" style="width:50%;" placeholder="First Answer..." name="answer1"><input id="an  swer2" type="text" style="width:50%;" placeholder="Second Answer..." name="answer2"><input id="answer3" type="text" style="width:50%;" placeholder="Third Answer..." name="answer3"><input id="answer4" type="text" style="width:50%;" placeholder="Fourth Answer..." name="answer4">');
        $('#question_correct_answer').empty().append('<select name="question[answer]"><option selected="selected" value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select>');
        
      }
      else if($('#question_type').val() == "true_false"){
        $('#question_title').empty().text("Step 2: What is the question.");
        $('#question_options').text('Do Nothing! True and False options will be shown.');
        $('#question_correct_answer').empty().append('<input type="radio" name="question[answer]" value="true">True<input type="radio" name="question[answer]" value="false">False');
        
      }
      else if($('#question_type').val() == "fill_in_the_blanks"){
        $('#question_title').empty().text("Step 2: What is the question. Use _____ (underscore) to show blank field.");
        $('#question_options').empty().text('Do nothing! A blank box to shown for the answer.');
        $('#question_correct_answer').empty().append('<input type="text", value="" style="width:50%;" name="question[answer]" />');
      }
    });

  
.span-17.last
  .span-3
    .icons-cog

  .span-13.last
    %h3
      = "Create a Question"
      %br
  .span-13.append-1.last
    
    
    %br
    
    #create_question

      = form_for @question, html: {class: "new_conversation form_do_not_clear"}, remote: true do |question|
        
        %h4
          %p Step 1: Question Type    
          = select_tag "question[type]", "<option selected='selected' value='multiple_choice'>Multiple Choice</option><option value='fill_in_the_blanks'>Fill in the Blanks</option><option value='true_false'>True/False</option>".html_safe  
        
          
        %h4
          %p#question_title Step 2: What is the question    
          = text_field_tag 'question[description]', nil, :placeholder => 'Question..', :style => 'width:98%;'

          
        %h4  
          %p#option_title Step 3: Options
          %span#question_options
            = text_field_tag 'answer1', nil, :placeholder => 'First Answer..', :style => 'width:50%;'
            = text_field_tag 'answer2', nil, :placeholder => 'Second Answer..', :style => 'width:50%;'
            = text_field_tag 'answer3', nil, :placeholder => 'Third Answer..', :size => 'width:50%;'
            = text_field_tag 'answer4', nil, :placeholder => 'Fourth Answer..', :size => 'width:50%;'

        %h4  
          %p#answer_title Step 4: Correct Answer
          %span#question_correct_answer
            = select_tag "question[answer]", "<option selected='selected' value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option>".html_safe 
            
        %br
        %br

        %p
          = question.submit "Add", 'data-disable-with' => "In Progress..", :class => 'button creation'