-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.
- content_for :page_title do
  = "New Quiz"

#left_pane
  = form_for Quiz.new, html: {class: "new_conversation form_do_not_clear"}, remote: true do |quiz|
    #left_pane_header{:style => "height:100%;border-bottom:none;"}
      %h3
        = "Quiz Details"        
      %h5.fieldWithErrors Title
      = text_area_tag 'quiz[title]', nil, :rows => 3, :placeholder => 'About the quiz..', :style => 'width:295px;'
      

      %h5.fieldWithErrors Time Limit -
      = text_field_tag 'quiz[time]', '15', :style => 'width:10%;display:inline-block;'
      %span Minutes   
      
      %div
        = check_box_tag 'quiz[randomize_questions]', 'true' , true, :style => 'float:left;'
        %span{:style => 'margin-left:4px;vertical-align:middle;'} Randomize questions

    .rightBar
      .title{:style => 'padding:8px 0 8px 0;'} 
        %div{:style => 'text-align:right;'} 
          = link_to "Add question", "#", :id=>"question_add", :class => 'button creation'
          %span OR        
          = link_to "Load question", "/questions", :rel => 'facebox'
        %h5{:style => 'margin:5px;'}
          = "Questions"
            

            
    #qlist
              
    %div#no_questions{:style => 'text-align:center;'}
      %br
      %i
        = "No Question present."
        = link_to "Add your first question", "#", :id=>"question_add_first"
      %br    

  
    %div{:style => 'border-top:1px solid #ccc;padding-top:10px;text-align:right;'}
      %h5{:style => 'display:inline-block;'} 
        = "Total Marks:"
      %span#my_marks 0  
      %span 
        = " points"
      = hidden_field_tag 'quiz[total_marks]', '0'
      %div
        = quiz.submit "  Save Quiz  ", 'data-disable-with' => "In Progress..", :class => 'button creation'       

.span-15.prepend-9.last
  .stream_container
    #conversation_show          
      #no_conversation_text
        = "Empty Quiz. Nothing to show" 

:javascript
  $('#question_add').live('click', function(){create_quiz();});
  $('#question_form_cancel').live('click', function(){get_new_quiz();});
  $('#question_add_first').live('click', function(){create_quiz();});

  function create_quiz()
  {
    $('#no_questions').empty();
    if($(this).hasClass("disabled")){
      Diaspora.page.flashMessages.render({ 'success':true, 'notice':'A question is already in process..' });
      return;
    }
    get_new_quiz();
  }

  function get_new_quiz(){
    $.get( "/questions/new", function( data ) {
      $('#conversation_show').html(data);
      $("#question_add").removeClass('creation').addClass('disabled');
    });
  }

  $('.questions-wrapper').live('click', function(){
    var conversation_path = $(this).data('conversation-path');
    $.get(conversation_path,function(data){$('#conversation_show').html(data);});
    $(".stream_element", "#qlist").removeClass('selected');
    $(this).find(">:first-child").addClass('selected');
    return false;
  });

  $('#question_qtype').live('change',function() {
      
    if($('#question_qtype').val() == "multiple_choice") {
      $('#question_description').val('');
      $('#question_hint').hide();
      $('#option_title').show();
      //$('#question_title').empty().text("Question");
      $('#question_options').show().append('<input id="answer1" type="text" style="width:50%;" placeholder="First Answer..." name="question[answer1]"><input id="answer2" type="text" style="width:50%;" placeholder="Second Answer..." name="question[answer2]"><input id="answer3" type="text" style="width:50%;" placeholder="Third Answer..." name="question[answer3]"><input id="answer4" type="text" style="width:50%;" placeholder="Fourth Answer..." name="question[answer4]">');
      $('#question_correct_answer').empty().append('<select name="question[answer]"><option selected="selected" value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select>');
      
    }
    else if($('#question_qtype').val() == "true_false"){
      //$('#question_title').empty().text("Question");
      $('#question_description').val('');
      $('#question_hint').hide();
      $('#option_title').hide();
      $('#question_options').empty().hide();      
      //$('#question_options').empty().hide();
      //$('#question_options').text('Do Nothing! True and False options will be shown.');
      $('#question_correct_answer').empty().append('<select name="question[answer]"><option selected="selected" value="true">True</option><option value="false">False</option></select>');
      
    }
    else if($('#question_qtype').val() == "fill_in_the_blanks"){
      $('#question_description').val('');
      $('#question_hint').show();
      $('#option_title').hide();
      $('#question_options').empty().hide();
      //$('#question_title').empty().text("Question, Use _____ (underscore) to show the blank field.");
      //$('#question_options').empty().text('Do nothing! A blank box to shown for the answer.');
      $('#question_correct_answer').empty().append('<input type="text", value="" style="width:50%;" name="question[answer]" />');
    }
  });
 

