-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.
- content_for :page_title do
  = "New Quiz"

.span-24.last
  #section_header
    %h2
      = "Create a Quiz"

    //= form_for Quiz.new, html: {class: "new_conversation form_do_not_clear"}, remote: true do |quiz|  
#leftNavBar.span-6.append-1{:style => 'height:800px;'}
  %span.add_aspect
    

  %ul.sub_nav#questions_list
    - @quizzes.each do |question|
      %li.hoverable{:data => {:question_id => question.id}}
        %a.action.modify_aspect{:href => "/questions/clone/#{question.id}", :rel => "facebox"}          
        %a.selectable{:href => "#"}
          = question.description

.span-11.last{:style => 'height:800px;'}
  
  #people_stream.stream.contacts
    = link_to "Add question", "#", :id=>"question_add", :class => 'button creation', :style =>'float:right;margin:10px;'    
  %h3
    = "QUESTIONS"
  #quiz_accordion

  #form_space    
  

  #hidden_form.hidden
    = render 'questions/new'

#rightNavBar.span-5{:style => 'height:800px;'}
  <% form_for @quiz, remote:true do |quiz_form| %>

    <%= quiz_form.label :Title %>
    <%= quiz_form.text_field :title %>

    <% quiz_form.fields_for :children do |child_form| %>

      <%= child_form.label :mark %>
      <%= child_form.text_field :mark %>


      <%= child_form.label :question_id %>
      <%= child_form.text_field :question_id %>

      <% unless child_form.object.new_record? %>
        <% # Don't forget to name both of these '_destroy' in Rails 3 %>
        <%= child_form.check_box '_delete' %>
        <%= child_form.label '_delete', 'Remove' %>
      <% end %>

    <% end %>

    <%= submit_tag %>
  <% end %>
  

:javascript
  $('#question_form_cancel').live('click', function(){
    hidden_form_active = false;
    $('#form_space').empty();
    $("#question_add").addClass('creation');
  //  $.facebox.close();
  });
  
  hidden_form_active = false;
  //$('#quiz_accordion').accordion();  

  $('#question_add').live('click', function(){
      
    if(hidden_form_active){
      Diaspora.page.flashMessages.render({ 'success':true, 'notice':'A question is already in process..' });
    }
    else {
      $('#form_space').append($('#hidden_form').html());
      $("#question_add").removeClass('creation');
      hidden_form_active = true;
    }
    
  //  return false;
  });  

