-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.
- content_for :page_title do
  = "New Quiz"

.span-24.last
  #section_header
    %h2
      = "Create a Quiz"

    //= form_for Quiz.new, html: {class: "new_conversation form_do_not_clear"}, remote: true do |quiz|  
#leftNavBar.span-7.append-1{:style => 'height:800px;'}
  %span.add_aspect
    

  %ul.sub_nav#questions_list
    - @quizzes.each do |question|
      %li.hoverable{:data => {:question_id => question.id}}
        %a.action.modify_aspect{:href => "/questions/clone/#{question.id}", :rel => "facebox"}          
        %a.selectable{:href => "#"}
          = question.description

.span-12.last
  
  #people_stream.stream.contacts
    = link_to "Add question", "#", :id=>"question_add", :class => 'button creation', :style =>'float:right;margin:10px;'    
  %h3
    = "QUESTIONS"
  #quiz_accordion

  #form_space    
  

  #hidden_form.hidden
    = render 'questions/new'

#rightNavBar.span-5{:style => 'height:800px;'}
  = form_for @quiz, html: {class: "new_conversation form_do_not_clear"}, remote: true do |quiz|
    %h4
      %p Title
      = text_field_tag 'quiz[title]', nil, :placeholder => 'About the quiz..', :style => 'width:98%;'
         
    %span
      = check_box_tag 'quiz[randomize_questions]', 'true' , true
      = hidden_field_tag 'quiz[total_marks]', '0'    

    %span
      = fields_for @quiz.quiz_question do |qquestion|
        = hidden_field_tag 'qquestion[mark]', '0', :placeholder => 'marks.', :style => 'width:98%;' 
        = fields_for @quiz.quiz_question.question do |q|
          = hidden_field_tag 'q[id]', '24'
    %p
      = quiz.submit "Save Quiz", 'data-disable-with' => "In Progress..", :class => 'button creation'
    #questionlist  

:javascript
  $('#question_form_cancel').live('click', function(){
    hidden_form_active = false;
    $('#form_space').empty();
    $("#question_add").addClass('creation');
  //  $.facebox.close();
  });
  
  hidden_form_active = false;
  //$('#quiz_accordion').accordion();  

  $('#question_add').live('click', function(){
      
    if(hidden_form_active){
      Diaspora.page.flashMessages.render({ 'success':true, 'notice':'A question is already in process..' });
    }
    else {
      $('#form_space').append($('#hidden_form').html());
      $("#question_add").removeClass('creation');
      hidden_form_active = true;
    }
    
  //  return false;
  });  

