-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.
- content_for :page_title do
  = "New Quiz"

#section_header
  %h2
    = "Create a Quiz"

  //= form_for Quiz.new, html: {class: "new_conversation form_do_not_clear"}, remote: true do |quiz|  
  #leftNavBar.span-5.append-1
    %span.add_aspect
      = link_to "Add a question", "#", :id=>"question_add"
      //, :rel => 'facebox'

    //%ul.sub_nav#aspects_list
    //  - @questions.each do |question|
    //    %li.hoverable{:data => {:question_id => question.id}}
    //      %a.action.modify_aspect{:href => "/questions/clone/#{question.id}", :rel => "facebox"}          
    //      %a.selectable{:href => "#"}
    //        = question.description

  .span-18.last
    #people_stream.stream.contacts
    //  %h3.no_contacts
    //    = link_to "Add First Question", "/questions/new" ,:rel => 'facebox', :class => 'button creation' 
    //    = "or Load from the Question bank"
    #form_space    

#hidden_form.hidden
  = render 'questions/new'

:javascript
  $('#question_add').click(function(){
    $('#form_space').append($('#hidden_form').html());
  });  
