$.facebox.close();
Diaspora.page.flashMessages.render({ 'success':'success', 'notice':'<%= @new_module.name %> session added to course' });
//$.getScript("/courses/<%= @new_module.aspect_id %>");
//$('<li class="sessionname"><a href="#" class="filter-session" data-aspect="<%= @new_module.aspect_id %>"><%= @new_module.name %></a></li>')


var tempSessionView = new app.views.Session({attributes: <%= @new_module.to_json %>});
$("#session-button").insertBefore(tempSessionView.render().el);

$("#content_id").replaceWith(
  $("<input/>", {
    name: "content_id",
	type: "hidden",
	value: <%= @new_module.id %>,
	id: "content_id"
  })
); 
