.span-12.last
  #create_module
    = form_for Course.new, html: {class: "new_conversation form_do_not_clear"}, remote: true do |course|  
      %h5{:style => 'margin-bottom:0px;margin-right:10px;display:inline;'}
        = "Select Session"   
      = select_tag "course[module_id]", options_from_collection_for_select(@modules, "id", "name")          
      = hidden_field_tag "course[type]", "Quiz"
      = hidden_field_tag "course[post_id]", nil
  
  #create_quiz_assignment
    = form_for QuizAssignment.new, html: {class: "new_conversation form_do_not_clear"}, remote: true do |quiz_assignment|
      %h5{:style => 'float:left;margin-right:32px;margin-top:6px;'}
        Load a quiz
      .section
        = select_tag "quiz_assignment[quiz_id]", options_from_collection_for_select(@quizzes, "id", "title")    
        %div{:style => 'font-size:11px;}
          = link_to "Click Here", '/quizzes/new'
          = "to create a new quiz"
      %h5.fieldWithErrors DueDate  
      = text_field_tag 'quiz_assignment[submission_date]', nil, :placeholder => "Due Date..", :class => 'jquery-ui-date', :size => '10', :style => "width:25%;display:inline-block;margin-left:5px;"     

      %br
      = link_to 'Add this to session', '#', :style => 'display:none;margin-top:20px;', :id => 'submit_quiz', :class => 'button creation'
      = quiz_assignment.submit "Assign Quiz to Session", 'data-disable-with' => "In Progress..", :class => 'button creation'

  %div#display_quiz
      
:javascript
  $(".jquery-ui-date").datepicker({dateFormat: 'dd/mm/yy'});
  $("#quiz_assignment_quiz_id").change(function() {
    showQuiz($( this ).val(), $('#quizList :selected').text());
  });
  
  function showQuiz(quizid,quiztitle){    
    $('#display_quiz').empty();
    $.ajax({
      url: '/quizzes/'+ quizid + '?overlay=1',
      dataType: 'html',
      type: 'GET',
      success: function(data) {

        $('#display_quiz').html(data);
        //$('#display_quiz').append('<a class="button creation" href="#" onClick="attachQuiz(' + quizid + ',' + quiztitle+ ');">Assign Quiz</a>');

        //$('#submit_quiz').show().attr('onClick', 'attachQuiz(' + quizid + ',"' + quiztitle + '");');
      }
    });    
  }          

  //function attachQuiz(quizid, quiztitle){    
  //  Diaspora.page.flashMessages.render({ 'success':true, 'notice': 'Quiz added successfully' });
  //  $('#course_post_id').val(quizid);
  //  $('#new_course').submit();
  //}