%li#assignment-list.hoverable{:data=>{:guid=>assignment.id}, :style => "height:20px;padding:4px 0 4px 0;border-bottom:1px solid #ccc;"}
  -#
    .remove_comment
      .right
        - if user_signed_in? && assignment.author == current_user.person
          = link_to(image_tag('deletelabel.png'), '/assignment', :method => :delete, :data => { :confirm => "#{t('are_you_sure')}" }, :class => "remove")
        - else
          = link_to( 'Submit', '/assignment')
  %span.selectable
    = assignment.name          
  %span.time.timeago{:datetime => assignment.submission_date, :style => "float:right;"}
    = assignment.submission_date < Time.now ? "Deadline:#{time_tag(assignment.submission_date)}" : "Submitted "
    = link_tag 'View Details', '/assignment_assessments/#{assignment.id}'       
  



