%li.hoverable{:data=>{:guid=>assignment.id}}
  -#
    .remove_comment
      .right
        - if user_signed_in? && assignment.author == current_user.person
          = link_to(image_tag('deletelabel.png'), '/assignment', :method => :delete, :data => { :confirm => "#{t('are_you_sure')}" }, :class => "remove")
        - else
          = link_to( 'Submit', '/assignment')
  %span{:style:"width:70%"}
    = assignment.name          
  %span.time.timeago{:datetime => assignment.submission_date}
    = Submitted
    = assignment.submission_date ? time_ago_in_words(assignment.submission_date) : time_ago_in_words(Time.now)
     
    



