.span-15.last
  .span-3
    .icons-cog

  .span-12.last
    %h3
      = "Create Assignment"
      %br
  .span-10.append-1.last
    
    %br
    %br
    
    #create_assignment

      = form_tag "assignments/new"  do
        
          
        = text_field_tag 'assignment_info[name]', 'title' , :placeholder => 'Assignment title..', :size => '30'
        
        %br

        %h4
          = "Description"  
        = text_area_tag 'assignment_info[description]', 'description', :rows => '2', :placeholder => "What students need to do.."

        %h4
          = "Due date"
        = text_field_tag 'assignment_info[duedate]', 'duedate', :placeholder => "Due Date..", :class => 'jquery-ui-date', :size => '10'       
         
        
        %p
          = check_box_tag 'assignment_info[islocked]', 'islocked', true
          %b= "Students will upload a file as part of submission"
          
        

        %br

        %p
          = submit_tag "Create Assignment", :disable_with => "In Progress.."

:javascript
  $(".jquery-ui-date").datepicker();

