.span-15.last
  .span-3
    .icons-cog

  .span-12.last
    %h2
      = "Create Assignment"
      %br
  .span-10.append-1.last
    
    %br
    #email_invitation

      = form_tag "/assignments/new"  do
        %h4
          = "Title"
        = text_field_tag 'email_inviter[emails]', "Assignment title...", :title => t('.comma_separated_plz'), :placeholder => 'Assignment title...'
        
        %br

        %h4
          = t('.language')
        = select_tag('email_inviter[locale]',  options_from_collection_for_select(available_language_options, "second", "first", :selected => current_user.language))

        %br

        %p
          = submit_tag t('.send_an_invitation'), :disable_with => t('.sending_invitation')
