.span-15.last
  .span-3
    .icons-cog

  .span-12.last
    %h3
      = "Create Assignment"
      %br
  .span-10.append-1.last
    
    
    %br
    
    #create_assignment

      = form_for Assignment.new, html: {class: "new_conversation form_do_not_clear"}, remote: true do |assignment|
        
        %h4
          = "Title"    
        = text_field_tag 'assignment[name]', nil, :placeholder => 'Assignment title..', :size => '20'
        
        

        %h4
          = "Description"  
        = text_area_tag 'assignment[description]', nil, :rows => '2', :placeholder => "What students need to do.."

        
          
        = text_field_tag 'assignment[submission_date]', nil, :placeholder => "Due Date..", :class => 'jquery-ui-date', :size => '10', :style => "width:25%"       
        %span
          = check_box_tag 'assignment[file_upload]', 'true' , true, :class => 'inline'
          %b
            Students will upload a file as part of submission
          
        

        %br
        %br

        %p
          = assignment.submit "Create Assignment", 'data-disable-with' => "In Progress..", :class => 'button creation'
          


      
- content_for :head do
  :javascript
    $(".jquery-ui-date").datepicker();

