
.span-15.last
  .span-3
    .icons-cog
  
  - if @assignments.size > 0
    .span-12.last
      %h3{:style => 'float:left;margin-right:15px;margin-top:6px;'}
        Load a previous assignment
      .section
        = select_tag "assignmentList", options_from_collection_for_select(@assignments, "id", "name")    
  %br
  %br
  .span-12.last
    %h4
      Create Assignment

  .span-10.append-1.last
    
    
    
    #create_assignment

      = form_for Assignment.new, html: {class: "new_conversation form_do_not_clear"}, remote: true do |assignment|
        
        %h5{:style => 'margin-bottom:0px;'}
          = "Title"    
        = text_field_tag 'assignment[name]', nil, :placeholder => 'Assignment title..', :size => '20'
        
        

        %h5{:style => 'margin-bottom:0px;'}
          Description  
        = text_area_tag 'assignment[description]', nil, :rows => '3', :placeholder => "What students need to do.."

        
        
        
        %h5.fieldWithErrors Points  
        = text_field_tag 'assignment[comments_count]', '10', :style => "width:7%;display:inline-block;margin-left:5px;"       
        %h5.fieldWithErrors{:style => 'margin-left:20px;'} DueDate  
        = text_field_tag 'assignment[submission_date]', nil, :placeholder => "Due Date..", :class => 'jquery-ui-date', :size => '10', :style => "width:25%;display:inline-block;margin-left:5px;"       
 
        %div
          = check_box_tag 'assignment[file_upload]', 'true' , true, :style => 'float:left;'
          %span{:style => 'margin-left:4px;vertical-align:middle;'} Students will upload a file as part of submission
          
        

        %br
        %br

        %p
          = assignment.submit "Create Assignment", 'data-disable-with' => "In Progress..", :class => 'button creation'


:javascript
  $(".jquery-ui-date").datepicker();
  
  $("#assignmentList").change(function() {
    loadAssignment($( this ).val());
  });
  
  function loadAssignment(assignmentid){    
    
    $.ajax({
      url: '/assignments/'+ assignmentid,
      dataType: 'json',
      type: 'GET',
      success: function(data) {

        $('#assignment_name').val(unescape(data.name));
        $('#assignment_description').val(unescape(data.description));
        $('#assignment_points').val(data.points);
      }
    });    
  }
      


