-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.edit_account')


  #section_header
    %h2
      = "Change Password"
     
  = form_for 'user', :url => user_path, :html => { :method => :put } do |f|
    = f.error_messages
    %p
      = f.label :current_password, t('.current_password')
      = f.password_field :current_password, :placeholder => t('.current_password_expl')
    %p
      = f.label :password, t('.new_password')
      = f.password_field :password, :placeholder => t('.character_minimum_expl')
    %p
      = f.label :password_confirmation, t('password_confirmation')
      = f.password_field :password_confirmation, :placeholder => t('.character_minimum_expl')

    .submit_block
      = link_to t('cancel'), edit_user_path
      = t('or')
      = f.submit t('.change_password'), :class => "button"  
  