-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :profile

- content_for :page_title do
  = "Getting Started"

%section#hello-there
  .hero-unit
    %h1.center
      = t('.well_hello_there')
    %h3.center
      = t(".community_welcome")

    = invited_by_message
    
    %h2
      = t(".who_are_you")

    - if AppConfig.configured_services.include? :facebook
      %p
        != t('.connect_to_facebook', :link => link_to(t('.connect_to_facebook_link'), "auth/facebook?callback_url=#{getting_started_url}"))

    = form_tag profile_path, :method => :put, :remote => true, :id => 'edit_profile' do
      %fieldset
        = label_tag 'profile[first_name]', "First name"
        = text_field_tag 'profile[first_name]', current_user.first_name
        = label_tag 'profile[last_name]', "Last name"
        = text_field_tag 'profile[last_name]', current_user.last_name
        = image_tag 'ajax-loader.gif', :id => "gs-name-form-spinner", :class => "hidden"
        %br
        %h4
          = "Are you a "
        = select_tag "profile[role]", "<option>Student</option><option>Teacher</option>".html_safe
        = label_tag :your_photo, t('profiles.edit.your_photo')
        = render 'photos/new_profile_photo', :aspect => :getting_started, :person => current_user.person

    
    .awesome
      = link_to "Take me to lmnop »", stream_path, :id => "awesome_button", :class => "button creation"

