<div id="registration">
  <div class="container">

    <div class="row">
        <div class="span4" id="image-container">
            <span style='display:none;'></span>
        </div>

        <div class="span8">
            <h1 id="create-something-text" style='display:none;'>
              <%= t('.hey_make').html_safe %>
            </h1>

            <h3 id="diaspora-hearts">LMNOP</h3>

            <h4 id="sign-up-text">
              <%= t('.sign_up') %>
            </h4>

            <%= form_for(resource, :validate => true, :url => registration_path(resource_name), :html => {:class => "form-horizontal block-form", :autocomplete => "off"}) do |f| %>
                <fieldset>
                  
        
                  <div class="control-group">
                    <label class="control-label" for="user_person_profile_role">
                        I AM A
                    </label>

                    <div class="controls">
                        <%= select_tag "user[person[profile[role]]]", "<option value='student'>Student</option><option value='teacher'>Teacher</option><option value='teacher'>TA</option>".html_safe, :style => 'border:none;margin:5px;' :onchange => 'return ask_code_if_teacher(this);' %>
                        
                    </div>
                  </div>

                  <div class="control-group" id="invitation-code-html" style="display:none">
                    <label class="control-label" for="invite_token">
                        INVITATION CODE
                    </label>

                    <div class="controls">
                      <input name="invite[token]" type="text" size="30" value="" placeholder="your invitation code..">
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="user_person_profile_role">
                        INSTITUTION
                    </label>

                    <div class="controls">
                        <%= select_tag "user[person[profile[location]]]", "<option value='PSBB, Chennai'>PSBB, Chennai</option><option value='NITK, Surathkal'>NITK, Surathkal</option>".html_safe, :style => 'border:none;margin:5px;' %>
                        
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="user_email">
                        <%= t('.email') %>
                    </label>

                    <div class="controls">
                        <%= f.email_field :email, :placeholder => "your email address..", :title => t('registrations.new.enter_email'), :required => true %>
                    </div>
                  </div>

                  <div class="control-group">
                      <label class="control-label" for="user_username">
                        <%= t('.username') %>
                      </label>

                      <div class="controls">
                        <%= f.text_field :username, :placeholder => "unique name..", :title => t('registrations.new.enter_username'), :required => true, :pattern => "[A-Za-z0-9_]+" %>
                      </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="user_password">
                        <%= t('.password') %>
                    </label>

                    <div class="controls">
                        <%= f.password_field :password, :placeholder => "••••••••", :title => t('registrations.new.enter_password'), :required => true, :pattern => "......+" %>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="user_password_confirmation">
                        <%= t('.password_confirmation') %>
                    </label>

                    <div class="controls">
                        <%= f.password_field :password_confirmation, :placeholder => "••••••••", :title => t('registrations.new.enter_password_again'), :required => true, :pattern => "......+" %>
                    </div>
                  </div>

                  <%= invite_hidden_tag(invite) %>
                </fieldset>

                <%= f.submit t('.continue'), :class => "new-btn", :disable_with => t('.submitting') %>
            <% end %>
        </div>
    </div>
  </div>
</div>
<javascript>
  function ask_code_if_teacher(ele)
  {
    if($('#invite_token').length < 1)
    {
      $(ele).val() == "teacher")
      {
        $('#invitation-code-html').show();
      }
      else
      {
        $('#invitation-code-html').hide(); 
      }
    }  
  }
</javascript>  