.stream_element.conversation
  .media
    .img
      = person_image_tag(teacher_info)
    .bg
      .subject          
        %h5{:style => "margin-bottom:1em;"}
          = assignment.name
      .last_author
        = assignment.description
      %time.timeago.timestamp
        = "Submit Date: "
        = time_tag(assignment.submission_date, :format=>'%b %d')
      %br  
      %div{:style => "float:right;"}
        = "Marks: "
        = assignment.comments_count
        = "Points"