-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :assessment

- content_for :page_title do
  = "Assignment Details"

:css
  footer{ display:none;}

#left_pane
  #left_pane_header{:style => "height:100%;background-color:#999999"}
    - if @teacher
      .right
        = link_to "View Performance", '/assignment_assessments/performance?a_id=' + @assignment_id.to_s, :class => 'button', :style => 'margin-right:10px;', :id => 'performance-button',:"data-id" => @assignment.id.to_s
    %h3
      = "Assignment Details"     
    = render 'assignment_assessments/details', :assignment => @assignment, :teacher_info => @teacher_info
    
    - if @teacher      
      - if Time.now > @assignment.submission_date
        - if !@assignment.is_result_published
          = link_to "Publish Result", '#', :"data-id" => @assignment.id.to_s, :class => 'button', :id => 'publish-button'
        - else 
          = link_to "Published", '#', :"data-id" => @assignment.id.to_s, :class => 'button disabled', :id => 'publish-button'
    - else
      - if @assignment.submission_date > Time.now
        = render 'assignment_assessments/uploader', :assignment => @assignment    

  #conversation_inbox
    .stream.conversations
      - if @teacher
        - if @assignment_assessments.count > 0
          = render :partial => 'assignment_assessments/assignment_assessment', :collection => @assignment_assessments, :locals => {:authors => @authors}            
        - else
          %br
          %br
          %br
          %br
          %div{:style => 'text-align:center;'}
            %i
              = "No Submissions Yet"        
      

.span-15.prepend-9.last
  .stream_container
    #conversation_show      
      - if @assignment_assessment
        = render :partial => 'assignment_assessments/student', :locals => {:assessment => @assignment_assessment, :assignment => @assignment, :author => @authors[@assignment_assessment.id], :teacher => @teacher}          
      - else
        #no_conversation_text
          = "Nothing to show"          
       