-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :inbox

- content_for :page_title do
  = "Assignment Details"

:css
  footer{ display:none;}

#left_pane
  #left_pane_header{:style => "height:170px;"}
    - if @teacher
      .right
        = link_to "View Performance", 'assignment_assessments/analyze', :class => 'button', :rel => 'facebox'  
    %h3
      = "Assignment Details"     
    = render 'assignment_assessments/details', :assignment => @assignment, :teacher_info => @teacher_info
    .right
      - if @teacher      
        - if Time.now > @assignment.submission_date and !@assignment.is_result_published
          = link_to "Publish Result", 'assignment_assessments/publish', :class => 'button', :rel => 'facebox'
      - else
        - if @assignment.submission_date > Time.now
          = render 'assignment_assessments/uploader', :assignment => @assignment    

  #conversation_inbox
    .stream.conversations
      - if @teacher
        - if @assignment_assessments.count > 0
          = render :partial => 'assignment_assessments/assignment_assessment', :collection => @assignment_assessments            
        - else
          %br
          %br
          %br
          %br
          %div{:style => 'text-align:center;'}
            %i
              = "No Submissions Yet"        
      

.span-15.prepend-9.last
  .stream_container
    #conversation_show
      - if @teacher
        - if @assignment_assessment
          = render :partial => 'assignment_assessments/student', :locals => {:assessment => @assignment_assessment, :assignment => @assignment}          
        - else
          #no_conversation_text
            = "Nothing to show"          
      - else        
        - unless @assessments.nil?
          = render :partial => 'assignment_assessments/assignment_assessment', :locals => {:assessment => @assignment_assessment, :assignment => @assignment}