= render 'assignment_assessments/details', :assignment => @assignment
- if @teacher
  %div#accordion
    = render :partial => 'assignment_assessments/individual_list', :collection => @assessments, :local => {:assignment => @assignment}
  - if Time.now > @assignment.submission_date
    = link_to "Publish Result", 'assignment_assessments/publish'
- else
  - if @assignment.submission_date > Time.now
    = link_to "Upload Assignment", 'assignment_assessments/create', :class => 'button creation', :style => 'float:right;'
  = render :partial => 'assignment_assessments/individual_list', :local => {:assessment => @assessments, :assignment => @assignment}

:javascript
  $( "#accordion" ).accordion();