= render 'assignment_assessments/details', :assignment => @assignment
- if @teacher
  = render 'assignment_assessments/submit_list', :assesments => @assessments
  - if Time.now > assignment.submitted_date
    = link_to "Publish Result", 'assignment_assessments/publish'
- else
  - if assignment.submitted_date > Time.now
    = link_to "Upload Assignment", 'assignment_assessments/create', :class => 'button creation', :style => 'float:right;'
  = render 'assignment_assessments/individual_list', :assessment => @assessments, :assignment => @assignment