= render 'assignment_assessments/details', :assignment => @assignment
- if @teacher
  %div#accordion
    = render :partial => 'assignment_assessments/individual_list', :collection => @assessments, :locals => {:assignment => @assignment}
  - if Time.now > @assignment.submission_date
    = link_to "Publish Result", 'assignment_assessments/publish'
- else
  - if @assignment.submission_date > Time.now
    = render 'assignment_assessments/uploader', :assignment => @assignment    
  - unless @assessments.nil?
    = render :partial => 'assignment_assessments/individual_list', :locals => {:assessment => @assessments, :assignment => @assignment}

:javascript
  $( "#accordion" ).accordion();