-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :inbox

- content_for :page_title do
  = "Assignment Details"

:css
  footer{ display:none;}

#left_pane
  #left_pane_header
    %h3
      - if @teacher
        .right
          - if Time.now > @assignment.submission_date
            = link_to "Publish Result", 'assignment_assessments/publish', :class => 'button', :rel => 'facebox'
          = link_to "View Performance", 'assignment_assessments/analyze', :class => 'button', :rel => 'facebox'  
      = render 'assignment_assessments/details', :assignment => @assignment

  #conversation_inbox
    .stream.conversations
      - if @teacher
        - if @assignment_assessments.count > 0
          = render :partial => 'assignment_assessments/student', :collection => @assignment_assessments            
        - else
          %br
          %br
          %br
          %br
          %div{:style => 'text-align:center;'}
            %i
              = "No Submissions Yet"        
      

.span-15.prepend-9.last
  .stream_container
    #conversation_show
      - if @teacher
        - if assignment_assessment
          = render :partial => 'assignment_assessments/assignment_assessment', :locals => {:assessment => @assignment_assessments, :assignment => @assignment}
          %div.hidden   
            = render @assignment_assessments, :assignment => @assignment 
        - else
          #no_conversation_text
            = "No Assignment Selected"
          #no_conversation_controls
            = link_to t('.create_a_new_message'), new_conversation_path, :rel => 'facebox'
      - else
        - if @assignment.submission_date > Time.now
          = render 'assignment_assessments/uploader', :assignment => @assignment    
        - unless @assessments.nil?
          = render :partial => 'assignment_assessments/assignment_assessment', :locals => {:assessment => @assignment_assessments, :assignment => @assignment}