-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.section
  .title
    .icons-question
    %h5.title-header
      = "Quizzes"
  .content
    - if @quizzes and @quizzes.length > 0
      = for quiz in @quizzes        
          = quiz.title "," 
          = time_ago_in_words(quiz.created_at)
          %br                
    -else
      = "No quizzes present"

.section
  .title
    .icons-bookmark
    %h5.title-header
      = "Assignments"
  .content
    - if @assignments and @assignments.length > 0      
      = for assignment in @assignments
        = assignment.name          
        = time_ago_in_words(assignment.submission_date)
        %br                      
    -else
      = "No assignmentss present"  
.section
  .title
    .icons-plus
    %h5.title-header
      = "Your Library"
  .content
    - if @documents and @documents.length > 0
      = for document in @documents
        = link_to document.processed_doc, document.unprocessed_doc.urlassignment.name                  
        %br                      
    - else
      = "You have not added any documents yet!"
      %br
      =  "Start now"
      %br
      %br
      = link_to "Click here", "/library", :class => "button"