
- content_for :page_title do
  = "My Library"

#section_header
  %h2
    = "My Library"
  %div{:style => "float:right;margin-top:11px;"}
    = render 'documents/uploader', :person => current_user.person

#leftNavBar.span-5.append-1
  = render 'documents/aspect_listings'

%div#tabs.span-17
  %ul{:style => "border-bottom: 1px solid rgb(204, 204, 204);background-color: rgb(204, 204, 204);border-top-left-radius: 4px;border-top-right-radius: 4px;"}
    %li
      = link_to "Documents", "#tabs-1"
    %li
      = link_to "Assignments", "#tabs-2"      
    %li
      = link_to "Quiz", "#tabs-3"              

  %div#tabs-1
    %ul{:style=>"padding-left:0px;"}
      %li.image_list
        #people_stream.section.contact_pictures
          - for document in @documents
            %div.hoverable.docthumbnail
              %div.selected.docthumbselected
              %div{:style => "padding:5px;"}
                - temp_val = document.processed_doc ? document.processed_doc.slice(document.processed_doc.rindex('.')+1,document.processed_doc.length) : "broken"
                = link_to image_tag('/assets/facebox/' + temp_val +'.png',:class => 'thumb_small'), document.unprocessed_doc.url
              %p  
                = link_to document.processed_doc, document.unprocessed_doc.url
          
  %div#tabs-2
    %ul#assignments-list{:style=>"padding-left:0px;"}
      = render :partial => 'assignments/assignment', :collection => @assignments

  %div#tabs-3
    %ul{:style=>"padding-left:0px;"}
      = render :partial => 'quizzes/quiz', :collection => @quizzes      
          
:javascript
  $( "#tabs" ).tabs();