-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%ul#aspect_nav
  %li.all_aspects{:class => "active"}
    %a.home_selector
      = "Classroom"

    %ul.sub_nav#course_list
      - all_aspects.each do |aspect|
        - if aspect.folder and aspect.folder == "Classroom"
          %li.hoverable{:class => ("selected" if aspect.name == folder) }         
            = link_to aspect.name, "/documents?a_id=" + aspect.id.to_s
              
  %li.all_aspects{:class => "active"}
    %a.home_selector
      = "Personal Groups"

    %ul.sub_nav#presonal_groups_list
      - all_aspects.each do |aspect|
        - if !aspect.folder or aspect.folder != "Classroom"
          %li.hoverable{:class => ("selected" if aspect.name == folder) }                      
            = link_to aspect.name, "/documents?a_id=" + aspect.id.to_s
    
    %li.hoverable{:class => ("selected" if folder == "Miscellaneous") }         
      = link_to "Miscellaneous", "/documents"                    