.span-12.last
  #create_module
    = form_for Course.new, html: {class: "new_conversation form_do_not_clear"}, remote: true do |course|  
      %h5{:style => 'margin-bottom:0px;display:inline;'}
        = "Select Module"   
      = select_tag "course[module_id]", options_from_collection_for_select(@modules, "id", "name")          
      = hidden_field_tag "course[type]", "Document"
      %h5{:style => 'margin:6px 15px 0px 0px;'}
        = "Select File"
      = select_tag "course[post_id]", options_from_collection_for_select(@documents, "id", "processed_doc")    
      %br
      = course.submit "Add file to session", 'data-disable-with' => "In Progress..", :class => 'button creation'