-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.title')

- content_for :head do
  = javascript_include_tag :people

#section_header
  %h2
    = t('.title')
  %div{:style => "float:right;margin-top:11px;"}
    = render 'documents/uploader', :person => current_user.person

    

#leftNavBar.span-5.append-1
  = render 'documents/aspect_listings'

%div.span-17
  %ul
    %li.image_list
      .section.contact_pictures
        - for document in @documents
          %div{:style => "overflow:hidden;width:142px;height:142px;border:1px solid #dfe4e8;float:left;text-align:center"}
            %div
              - temp_val = document.processed_doc ? document.processed_doc.slice(document.processed_doc.index('.')+1,document.processed_doc.length) : "broken"
              = link_to image_tag('/assets/facebox/' + temp_val +'.png',:class => 'thumb_medium'), document.unprocessed_doc.url
            %p  
              = link_to document.processed_doc, document.unprocessed_doc.url