
- content_for :page_title do
  = "My Files"

#section_header
  %h2
    = "My Files"
  %div{:style => "float:right;margin-top:11px;"}
    = render 'documents/uploader', :person => current_user.person, :folder => @folder

#leftNavBar.span-5.append-1
  = render 'documents/aspect_listings', :documents => @documents

%div#tabs.span-17  
  %div#tabs-1
    - if @documents
      %ul{:style=>"padding-left:0px;"}
        %li.image_list
          #people_stream.section.contact_pictures
            - for document in @documents
              %div.hoverable.docthumbnail
                %div.selected.docthumbselected
                %div{:style => "padding:5px;"}
                  - temp_val = document.processed_doc ? document.processed_doc.slice(document.processed_doc.rindex('.')+1,document.processed_doc.length) : "broken"
                  = link_to image_tag('/assets/facebox/' + temp_val +'.png',:class => 'thumb_small'), document.unprocessed_doc.url
                %p  
                  = link_to document.processed_doc, document.unprocessed_doc.url
    - else
      %h3
        = "Store your personal documents here."
        
    
          
