-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.title')

- content_for :head do
  = javascript_include_tag :people

#section_header
  %h2
    = t('.title')
  %div{:style => "float:right;margin-top:2px;"}
    = render 'documents/uploader'
    

#leftNavBar.span-5.append-1
  = render 'documents/aspect_listings'

.span-18.last
  #people_stream.stream.contacts
    - if @documents.length > 0
      - for document in @documents
        .stream_element{:id => document.guid}
          .media
            .bd
              = link_to document.processed_doc, document.remote_path + document.remote_name
              

  
  