-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.span-12.last
  #facebox_header
    %h3
      = "Join a Course"

  %form{:action => '/aspects/join', :'data-remote' => true, :method => 'post' } 
    %p
      = "Select Teacher"
      = select_tag "id", options_for_select(@all_teacher_info, selected: "Select A Teacher", disabled: "Select A Teacher"), :id => 'teacher_select'
       
    
    %p
      %span#teacher-label.hidden
        = "Select Course"
      - @organised_list.each do |user_id,aspect_info|
        = select_tag "a_id", options_from_collection_for_select(aspect_info, "id", "to_beautify"), :id => 'teacher_select_' + user_id.to_s, :style=>'display:none', :class => 'course_per_teacher'
      
      
    .bottom_submit_section
      = submit_tag t('cancel'), :class => 'button', :type => :reset, :rel => "close"
      = submit_tag "Join", :class => 'button creation'