%div.quiz-form-wrapper
  %div.quiz-form-content   
    %h1.quiz-form-title
      %span
        = @quiz.title
    - count = 0    
    - for question in @quiz[:questions]
      - count = count + 1	
      = render 'quizzes/question', :question => question, :count => count
      %div
        - if @quiz[:answers][question.id].blank?
          = "Question not attempted."
        - else  
          - if @quiz[:answers][question.id].marks == 0
            %span{:style => 'color:red;'}
              = "Wrong Answer. You Answered -"
              =  @quiz[:answers][question.id].answer
              = ".Correct Answer is -"
              = question.answer
          - else
            %span{:style =>'color:green;'}
              = "Correct Answer"    
        