-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :grade
  = javascript_include_tag "https://www.google.com/jsapi" 
  = javascript_include_tag "https://www.google.com/uds/?file=visualization&amp;v=1.0&amp;packages=corechart,table"
  = javascript_include_tag "https://www.google.com/uds/api/visualization/1.0/3e90177897a662843613f410c963722a/format+en,default+en,ui+en,table+en,corechart+en.I.js"
  = stylesheet_link_tag "https://www.google.com/uds/api/visualization/1.0/3e90177897a662843613f410c963722a/ui+en,table+en.css"

- content_for :page_title do
  = "Course Details"

:css
  footer{ display:none;}

#left_pane{:style => 'width:180px;'}
  #left_pane_header
    %h3
      = "Course Content"     

  #conversation_inbox
    .stream.conversations  
      = render :partial => 'courses/course', :collection => @courses

.span-15.prepend-5.last
  .stream_container
    #conversation_show      
      #no_conversation_text
        = "Nothing to show"          

.span-4.last{:style => 'height:800px;border-left:1px solid #ccc;padding-left:5px;padding-top:25px;'}
  %span{:style => "display:block;text-align:center;margin-bottom:20px;padding-bottom:30px;"}  
    = link_to " Add Module ", '/contents/new', :id => 'module-button', :class => 'button creation', :rel => 'facebox'
  %ul{:style=> 'list-style:none;padding-left:1em;margin-right:0px;'}
    %li{:style=> 'margin-bottom:10px;'}
      = image_tag 'icons/bookmark.png', :alt => t('.upload_photos').titleize,:style=> 'width:12px;'
      %a{ :href => "#",:onClick => ""}
        %span
          = "Add an Assignment"
    %li{:style=> 'margin-bottom:10px;'}
      = image_tag 'icons/question.png', :alt => t('.upload_photos').titleize,:style=> 'width:12px;'
      %a{ :href => "#",:onClick => ""}
        %span
          = "Add a Quiz"
    %li{:style=> 'margin-bottom:10px;'}
      = image_tag 'icons/plus.png', :alt => t('.upload_photos').titleize,:style=> 'width:12px;'
      %a{ :href => "#",:onClick => ""}
        %span
          = "Add a Library File"
    %li{:style=> 'margin-bottom:10px;'}
      = image_tag 'icons/marker.png', :alt => t('.upload_photos').titleize,:style=> 'width:7px;margin:0px 3px 0px 2px;'
      %a{ :href => "#",:onClick => ""}
        %span
          = "Add a Header"
    %li
      = image_tag 'icons/globe.png', :alt => t('.upload_photos').titleize,:style=> 'width:11px;'
      %a{ :href => "#",:onClick => ""}
        %span
          = "Add an External link or video"

:javascript
  el = $('#conversation_inbox > .conversations > .grade-wrapper')[0];
  $.getScript($(el).data('conversation-path'));
  $('#module-button').attr('href', '/contents/new?a_id=' + $(el).data('guid'))
