-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :grade
  = javascript_include_tag "https://www.google.com/jsapi" 
  = javascript_include_tag "https://www.google.com/uds/?file=visualization&amp;v=1.0&amp;packages=corechart,table"
  = javascript_include_tag "https://www.google.com/uds/api/visualization/1.0/3e90177897a662843613f410c963722a/format+en,default+en,ui+en,table+en,corechart+en.I.js"
  = stylesheet_link_tag "https://www.google.com/uds/api/visualization/1.0/3e90177897a662843613f410c963722a/ui+en,table+en.css"

- content_for :page_title do
  = "Course Details"

:css
  footer{ display:none;}
  #conversation_show > h5{ margin:1em 0em 1em 0em;border-bottom: 1px solid #ccc;padding-bottom: 0.5em;background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(249,250,253,1) 30%,rgba(238,242,247,1) 60%,rgba(228,233,244,1) 100%);}
  .no-content{text-align:center;}
  
#left_pane{:style => 'width:180px;'}
  #left_pane_header
    %h3
      = "Course Content"     

  #conversation_inbox
    .stream.conversations  
      = render :partial => 'courses/course', :collection => @courses

.span-15.prepend-5.last
  .stream_container
    #conversation_show{:style => 'padding-right:10px;'}      
      #no_conversation_text
        = "No Session to show."
        = link_to "Add your first one", '/contents/new', :id => 'module-button', :class => 'button creation', :rel => 'facebox'         

- if @teacher
  = render :partial => 'courses/edit'

:javascript
  el = $('#conversation_inbox > .conversations > .grade-wrapper')[0];
  $.getScript($(el).data('conversation-path'));
