<div class="img">
  {{#linkToPerson author}}
    {{{personImage this "small" "small"}}}
  {{/linkToPerson}}
</div>

{{#if teacherCommentORendorsedComment}}
  <div class="bd teacher_comment">
{{else}}
  <div class="bd">
{{/if}}

    <div class="controls">
      {{#if canRemove}}
        <a href="#" class="delete comment_delete" title="{{t "delete"}}">
          <div alt="Deletelabel" class="icons-deletelabel" />
        <a/>
      {{/if}}
      {{#if canEndorse}}
        {{#if isEndorsedComment}}
          <a href="#" class="endorse comment_best" title="Undo Correct Answer">
            <div alt="CorrectAnswer" class="icons-check_yes_ok_lighter" />
          <a/>
        {{else}}
          <a href="#" class="endorse comment_best" title="Mark as Correct Answer">
            <div alt="BestAnswer" class="icons-check_yes_ok_lighter" />
          <a/>
        {{/if}}  
      {{/if}}  
    </div>

    
    {{#with author}}
      <a href="/people/{{guid}}" class="author author-name {{hovercardable this}}">
        {{name}}
      </a>
    {{/with}}
 
    <div class="collapsible comment-content">
      {{{text}}}
    </div>

    <div class="likes"> </div>

    <div class="info">
      <time class="timeago" data-original-title="{{{localTime created_at}}}" datetime="{{created_at}}"/>
    </div>
  </div>