{{#if largePhoto}}
  <div class="photo_attachments">
    <a href="#" class="stream-photo-link">
      {{#with largePhoto}}
        <img src="{{sizes.large}}" class="stream-photo big_stream_photo" data-small-photo="{{sizes.small}}" data-full-photo="{{sizes.large}}" rel="lightbox">
      {{/with}}      
    </a>

    {{#each smallPhotos}}
      <a href="#" class="stream-photo-link">
        <img src="{{sizes.small}}" class="stream-photo thumb_small" data-small-photo="{{sizes.small}}" data-full-photo="{{sizes.large}}" rel="lightbox">
      </a>
    {{/each}}
  </div>
{{/if}}

{{#if documents}}
  <div class="photo_attachments">
    {{#each documents}}
      <a href="#" class="stream-photo-link">
        <img src="{{icon}}" class="stream-photo thumb_small" rel="lightbox">
        <span>{{name}}</span>
      </a>
    {{/each}}
  </div>
{{/if}}

{{#if assignments}}  
  {{#each assignments}}
    <div style="float:left;padding-right:15px;margin-top:4px;">
      <div style="width:50px;">
        <div class="assignment-month-part">{{sub_month}}</div>
        <div class="assignment-date-part">{{sub_date}}</div>
      </div>
    </div>
    <h5 style="margin-bottom:0.7em">{{name}}</h5>
    <a href="/library?tab=assignment" class="creation button">Upload Assignment</a>  
    <span style="margin-left:10px;">for {{points}} points</span>
    <div style="padding-top:10px;">{{description}}</div>      
  {{/each}}  
{{/if}}

{{#if quiz}}
  <div class="photo_attachments quiz-attempt">
    {{#with quiz}}
      <h5>{{title}}</h5>
      <a href="/quizzes/{{id}}" class="button creation" target="_blank">        
        <span>Attempt Quiz</span>
      </a>
      <span class="quiz-status-message">Due Date {{created_at}}</span>
    {{/with}}
  </div>
{{/if}}

<div class="collapsible">
  {{{text}}}
  <div class="oembed"></div>
  <div class="opengraph"></div>
</div>
