{{#if largePhoto}}
  <div class="photo_attachments">
    <a href="#" class="stream-photo-link">
      {{#with largePhoto}}
        <img src="{{sizes.large}}" class="stream-photo big_stream_photo" data-small-photo="{{sizes.small}}" data-full-photo="{{sizes.large}}" rel="lightbox">
      {{/with}}      
    </a>

    {{#each smallPhotos}}
      <a href="#" class="stream-photo-link">
        <img src="{{sizes.small}}" class="stream-photo thumb_small" data-small-photo="{{sizes.small}}" data-full-photo="{{sizes.large}}" rel="lightbox">
      </a>
    {{/each}}
  </div>
{{/if}}

{{#if documents}}
  <div class="photo_attachments">
    {{#each documents}}
      <a href="#" class="stream-photo-link">
        <img src="{{icon}}" class="stream-photo thumb_small" rel="lightbox">
        <span>{{name}}</span>
      </a>
    {{/each}}
  </div>
{{/if}}

{{#if assignments}}  
  {{#each assignments}}
    <div style="float:left;padding-right:15px;">
      <div style="width:50px;">
        <div class="assignment-month-part">{{submonth}}</div>
        <div class="assignment-date-part">{{subdate}}</div>
      </div>
    </div>  
    <a href="#" class="stream-photo-link">        
      <span>{{name}}</span>
    </a>
  {{/each}}  
{{/if}}

{{#if quiz}}
  <div class="photo_attachments">
    {{#with quiz}}
      <h5>{{name}}</h5>
      <a href="/quizzes/show/{{id}}" class="button creation" target="_blank">        
        <span>Attempt Quiz</span>
      </a>
      <span>Due Date {{created_at}}</span>
    {{/with}}
  </div>
{{/if}}

<div class="collapsible">
  {{{text}}}
  <div class="oembed"></div>
  <div class="opengraph"></div>
</div>
