-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :head do
  = javascript_include_tag :assessment
  = javascript_include_tag "https://www.google.com/jsapi" 
  = javascript_include_tag "https://www.google.com/uds/?file=visualization&amp;v=1.0&amp;packages=corechart,table"
  = javascript_include_tag "https://www.google.com/uds/api/visualization/1.0/3e90177897a662843613f410c963722a/format+en,default+en,ui+en,table+en,corechart+en.I.js"
  = stylesheet_link_tag "https://www.google.com/uds/api/visualization/1.0/3e90177897a662843613f410c963722a/ui+en,table+en.css"
  
- content_for :page_title do
  = "Report"

:css
  footer{ display:none;}

#section_header
  %h2
    = "Reports"

  -#
    %span.right.button#publish_moodle
      = "Publish Grade"

.stream_container  
  %div#line_chart1_div
  %div#chart_div
  %div#line_chart2_div
  %h5
    = "Student Leaderboard"
  %div#table_div
   
   

:javascript
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Questions');
  data.addColumn('number', 'Total');
  data.addRows(#{@data.to_json.html_safe});
  var options = {'title':'Public vs Anonymous Question Chart',
                 'width':400,
                 'height':300};
  var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
  chart.draw(data, options);

  var data2 = new google.visualization.DataTable();
  data2.addColumn('string', 'Name');
  data2.addColumn('number', 'Qs Asked');
  data2.addColumn('number', 'Qs Answered');
  data2.addColumn('number', 'Qs Resolved');
  data2.addColumn('number', 'LMNOP Score');
  data2.addRows(#{@data2.to_json.html_safe});

  var table = new google.visualization.Table(document.getElementById('table_div'));
  table.draw(data2, {showRowNumber: true});

  var data3 = new google.visualization.DataTable();
  data3.addColumn('string', 'Week');
  data3.addColumn('number', 'Questions');
  data3.addRows(#{@data3.to_json.html_safe});
  var options = {'title':'No Of Questions Asked (7 days Average)'}
  var chart = new google.visualization.LineChart(document.getElementById('line_chart1_div'));
  chart.draw(data3, options);

  var data4 = new google.visualization.DataTable();
  data4.addColumn('string', 'Week');
  data4.addColumn('number', 'Questions');
  data4.addRows(#{@data4.to_json.html_safe});
  var options = {'title':'No Of Conversations Resolved (7 days Average)'}
  var chart = new google.visualization.LineChart(document.getElementById('line_chart2_div'));
  chart.draw(data4, options);

  $('#publish_moodle').click(function(){
    $.getJSON('/providers/grade?a_id=#{@aspect_id}', function(data){
      Diaspora.page.flashMessages.render({ 'success':'success', 'notice': data.message });
    });
  })

